{% extends './body.html' %}

{% block title %} Página principal {% endblock %}

{% block container %}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong style="font-size: 14px;">{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <h1>¡Bienvenid@s!</h1>
        <h2>Gasten mucho dinero aquí por favor.</h2>        
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>{{data.titulo}}</h2>
    </div>
    {% if current_user.tipousuario.id == 1 %}

        {% if data.libros_vendidos|length > 0 %}

        <p>Libros vendidos</p>

        {% else %}

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4>A&uacute;n no existen libros vendidos... &#128532;</h4>
        </div>
        
        {% endif %}

    {% else %}

        {% if data.compras|length > 0 %}

        <p>Libros comprados</p>

        {% else %}

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4>A&uacute;n no has comprado libros... &#128532;</h4>
        </div>
        
        {% endif %}

    {% endif %}
</div>

{% endblock %}
